<?xml version="1.0"?>
<robot name="unicorn" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- PROPERTY LIST -->
  <xacro:arg name="robot_namespace" default="/" />
  <!--All units in m-kg-s-radians unit system -->
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <!-- Main Body-base -->
  <xacro:property name="base_x_size" value="0.72" />
  <xacro:property name="base_y_size" value="0.55" />
  <xacro:property name="base_z_size" value="0.6" />
  <xacro:property name="base_mass" value="15" /> <!-- 21.446 in kg-->
  <!--Inertial macros for the box and cylinder. Units are kg*m^2-->
  <xacro:macro name="box_inertia" params="m x y z">
    <inertia  ixx="${m*(y*y+z*z)/12}" ixy = "0" ixz = "0"
              iyy="${m*(x*x+z*z)/12}" iyz = "0"
              izz="${m*(x*x+z*z)/12}" />
  </xacro:macro>


<!-- NOT USED ANYMORE SINCE CHANGE OR LIDAR -->
  <!-- LMS111 -->
<!--  <xacro:arg name="laser_xyz" default="0.0 0.0 0.5" />
  <xacro:arg name="laser_rpy" default="0.0 0.0 ${M_PI-M_PI/4}" />
  <xacro:include filename="$(find lms1xx)/urdf/sick_lms1xx.urdf.xacro" />
-->

  <!-- RPLIDAR A2 -->
  <xacro:arg name="laser_rpy" default="0.0 0.0 0.0" />
  <!--xacro:arg name="laser_rpy" default="0.0 0.0 ${M_PI}" /-->
  <xacro:arg name="laser_xyz" default="-0.17 0.0 0.17" />
  <!--xacro:arg name="laser_xyz" default="0.18 0.12 0.39" /-->
  <xacro:include filename="$(find unicorn_description)/urdf/rplidar_a2.urdf.xacro" />

  <!-- Wheel -->
  <xacro:include filename="$(find am_description)/urdf/wheel.urdf.xacro" />

  <!-- Swivel wheel -->
  <xacro:include filename="$(find am_description)/urdf/swivel_wheel.urdf.xacro" />
  <!-- Materials -->
  <xacro:include filename="$(find am_description)/urdf/materials.urdf.xacro" />

  <link
    name="chassis_link">
    <inertial>
      <origin
        xyz="0.17 0 -0.10"
        rpy="0 0 0" />
      <mass
        value="${base_mass}" />
      <box_inertia  m="${5*base_mass}" x="${base_x_size}" y="${base_y_size}" z="${base_z_size}"/>
    </inertial>
    <visual>
      <origin
        xyz="-0.17 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://unicorn_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.17 0 0.08"
        rpy="0 0 0" />
      <geometry>
        <!-- <mesh
          filename="package://unicorn_description/meshes/base_link.STL" /> -->
          <box size="0.65 0.5 0.2"/>
      </geometry>
      <!-- <surface>
         <friction>
           <ode><mu>0</mu><mu2>0</mu2></ode>
         </friction>
      </surface> -->
    </collision>
  </link>
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.17 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <box_inertia  m="${5*0.01}" x="${base_x_size}" y="${base_y_size}" z="${base_z_size}"/>
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <!-- <mesh
          filename="package://unicorn_description/meshes/base_link.STL" /> -->
          <box size="0.01 0.01 0.01"/>
      </geometry>
      <!-- <surface>
         <friction>
           <ode><mu>0</mu><mu2>0</mu2></ode>
         </friction>
      </surface> -->
    </collision>
  </link>

  <joint name="base_link_joint" type="fixed">
    <parent link="chassis_link"/>
    <child link="base_link" />
  <origin xyz="0 0.0 0" rpy="0 0 ${M_PI}" />
  </joint>

  <!--link name="zed_left_camera">
        <visual>
            <origin xyz="0 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.007" length=".031"/>
            </geometry>
            <material name="dark_grey">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
    </link>
    <link name="zed_center">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <mesh filename="package://zed_wrapper/urdf/ZED.stl" />
            </geometry>
            <material name="light_grey">
                <color rgba="0.8 0.8 0.8 0.8"/>
            </material>
        </visual>
    </link-->
    <!-- <link name="zed_right_camera">
        <visual>
            <origin xyz="0 0 0" rpy="0 1.57 0"/>
            <geometry>
                <cylinder radius="0.007" length=".031"/>
            </geometry>
            <material name="dark_grey">
                <color rgba="0.1 0.1 0.1 1"/>
            </material>
        </visual>
    </link> -->
    <!--link name="zed_depth_camera" />

    <joint name="zed_left_camera_joint" type="fixed">
        <parent link="zed_center"/>
        <child link="zed_left_camera"/>
        <origin xyz="0 0.06 0" rpy="0 0 0" />
    </joint>
    <joint name="zed_depth_camera_joint" type="fixed">
        <parent link="zed_left_camera"/>
        <child link="zed_depth_camera"/>
        <origin xyz="0 0 0" rpy="-1.5707963267948966 0 -1.5707963267948966" />
    </joint-->

   <!--  <joint name="zed_right_camera_joint" type="fixed">
        <parent link="zed_center"/>
        <child link="zed_right_camera"/>
        <origin xyz="0 -0.06 0" rpy="0 0 0" />
    </joint> -->

    <!--joint name="chassis_zed_joint" type="fixed">
      <parent link="base_link"/>
      <child link="zed_center"/>
     <origin xyz="-0.14 0.0 0.11" rpy="0 0 ${-M_PI}"/>
    </joint-->

  <wheel fb="back" lr="left" parent="base_link" translateY="-0.24" translateX="0.0" translateZ="-0.006" wheel_radius="0.1225" wheel_height="0.032" flip="1"/>
  <wheel fb="back" lr="right" parent="base_link" translateY="0.24" translateX="0.0" translateZ="-0.006" wheel_radius="0.1225" wheel_height="0.032" flip="1"/>

  <swivel_wheel fb="front" lr="left" parent="base_link" translateY="-0.16" translateX="0.355" translateZ="0.03" wheel_radius="0.05" wheel_height="0.05" flip="0"/>
  <swivel_wheel fb="front" lr="right" parent="base_link" translateY="0.16" translateX="0.355" translateZ="0.03" wheel_radius="0.05" wheel_height="0.05" flip="0"/>


   <rplidar_a2 frame="base_laser" topic="/TX2_r2000Lidar/laserScan" robot_namespace="$(arg robot_namespace)"/>
   
   <joint name="laser_mount_joint" type="fixed">
      <origin xyz="$(arg laser_xyz)" rpy="$(arg laser_rpy)" />
      <parent link="base_link" />
      <child link="base_laser" />
   </joint>


</robot>

