<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="stereo_camera" params="frame_rgb frame_depth topic:=pointcloud cameraName:=camera robot_namespace:=/" >


<!-- Gazebo simulation -->
      <!-- camera -->
      <gazebo reference="${frame_rgb}">
          <sensor type="depth" name="openni_camera_camera">      
          <always_on>1</always_on>
          <visualize>true</visualize>             
          <camera>
              <horizontal_fov>1.3962634</horizontal_fov>  
              <image>
                  <width>640</width>
                  <height>480</height>
                  <format>R8G8B8</format>
              </image>

              <clip>
                  <near>0.1</near>
                  <far>100</far>
              </clip>
          </camera>
          <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
            <baseline>0.2</baseline>
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>${cameraName}</cameraName>
            <imageTopicName>/${cameraName}/color/image_raw</imageTopicName>
            <cameraInfoTopicName>/${cameraName}/color/camera_info</cameraInfoTopicName>
            <depthImageTopicName>/${cameraName}/depth/image_raw</depthImageTopicName>
            <depthImageInfoTopicName>/${cameraName}/depth/camera_info</depthImageInfoTopicName>
            <pointCloudTopicName>/${cameraName}/depth/points</pointCloudTopicName>
            <frameName>${frame_depth}</frameName>
            <robotNamespace>${robot_namespace}</robotNamespace>
            <pointCloudCutoff>0.05</pointCloudCutoff>
            <distortionK1>0</distortionK1>
            <distortionK2>0</distortionK2>
            <distortionK3>0</distortionK3>
            <distortionT1>0</distortionT1>
            <distortionT2>0</distortionT2>
            <CxPrime>0</CxPrime>
            <Cx>0</Cx>
            <Cy>0</Cy>
            <focalLength>0</focalLength>
            <hackBaseline>0</hackBaseline>
          </plugin>
        </sensor>
      </gazebo>
  </xacro:macro>
</robot>
