<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="goals_file" default="" />
    <arg name="config_file" default="$(find unicorn_state_machine)/config/state_machine_config.yaml" />
    <arg name="dock_action_namespace" default="/unicorn_docking_node/dock_action" />

    <node pkg="unicorn_state_machine" type="unicorn_state_machine_node" name="unicorn_state_machine_node" output="screen" clear_params="true" >
        <rosparam unless="$(eval arg('goals_file') == '')" command="load" file="$(arg goals_file)" />
        <!--rosparam command="load" file="$(find unicorn_state_machine)/config/goals.yaml" /-->

        <rosparam command="load" file="$(arg config_file)" />

        <remap from="/dock" to="$(arg dock_action_namespace)" />
    </node>
</launch>
