<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="do_slam" 	        default="true" />
    <arg name="use_object_tracking" default="false" />
    <arg name="map_file"   			default="$(find unicorn_slam)/maps/gmap_map.yaml"/>

    <include file="$(find unicorn)/launch/main_2020.launch">
        <arg name="sim" value="true" />
        <arg name="use_zed" value="true" />
        <arg name="use_realsense" value="true" />
        <arg name="do_slam" value="$(arg do_slam)" />
        <arg name="use_object_tracking" value="$(arg use_object_tracking)" />
        <arg name="map_file" value="$(arg map_file)" />
    </include>

    <include file="$(find unicorn_roborio_bridge)/launch/bridge.launch">
        <arg name="rear_lidar_scan_topic" value="/rearLidar/empty_sim_scan" />
    </include>

    <include file="$(find unicorn_simulator)/launch/roborio_simulator.launch"/>
</launch>
