<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="do_slam" 	        default="true" />
    <arg name="use_object_tracking" default="false" />
    <arg name="map_file"   			default="$(find unicorn_slam)/maps/gmap_map.yaml"/>
    <arg name="use_simlift" 				default="false" />

    <include file="$(find unicorn)/launch/main_2020.launch">
        <arg name="sim" value="true" />
        <arg name="use_simlift" value="$(arg use_simlift)" />
        <arg name="use_zed" value="false" />
        <arg name="use_realsense" value="false" />
        <arg name="do_slam" value="$(arg do_slam)" />
        <arg name="use_object_tracking" value="$(arg use_object_tracking)" />
        <arg name="map_file" value="$(arg map_file)" />
    </include>
</launch>
