<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="sim" 				default="false" />
    <!-- Starts interface between automower and unicorn to enable backward driving -->
    <group unless="$(arg sim)">
    </group>
        <node name="unicorn_hrp_interface_node"
            pkg="unicorn_hrp_interface"
            type="unicorn_hrp_interface_node"
            output="screen">
        </node>
    

    <!-- Start the am_driver -->
    <group unless="$(arg sim)">
        <node name="am_driver_safe" pkg="am_driver_safe" type="am_driver_safe_node" output="screen">
            <param name="serialPort" value="/dev/ttyUSB0" type="str" />
            <param name="printCharge" value="false"/>
            <param name="publishTf" value="0"/>
            <param name="pitchAndRoll" value="false"/>
            <param name="publishGPS" value="false"/>
            <param name="serialLog" value="false"/>
            <param name="hil" value="0"/>
            <param name="jsonFile" value="$(find am_driver_safe)/config/automower_hrp.json" type="string" />

            <param name="odomFrame" value="odom_chassis" />
            <param name="baseLinkFrame" value="base_link" />

            <remap from="/odom" to="/wheel_encoder/odom" />
        </node> 
    </group>
</launch>
