<?xml version="1.0" encoding="utf-8"?>
<!-- Launches Gazebo with predefined settings with the Unicorn platform -->
<launch>
	<arg name="gazebo_gui" default="false"/>

	<rosparam param="odom_frame">odom_chassis</rosparam>
	<rosparam param="global_local">false</rosparam>
	<rosparam param="frame_id">chassis_link</rosparam>
	<rosparam param="use_sim_time">true</rosparam>


	<group>
		<remap from="/tf" to="/gazebo/tf"/>

		<!-- Launch gazebo world -->
		<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--arg name="world_name" value="$(find husky_gazebo)/worlds/clearpath_playpen.world"/-->
		<arg name="world_name" value="$(find unicorn_slam)/worlds/Apriltag_0_world.world"/>
			<!--arg name="world_name" value="$(find unicorn_slam)/worlds/clearpath_playpen_moving_obstacle.world"/-->
			<!--arg name="world_name" value="$(find unicorn_slam)/worlds/testworld_moving_obstacle.world"/-->
			<arg name="paused" value="false"/>
			<arg name="use_sim_time" value="true"/>
			<arg name="gui" value="$(arg gazebo_gui)"/>
			<arg name="headless" value="false"/>
			<arg name="debug" value="false"/>

		</include>

		<!-- urdf xml robot description loaded on the Parameter Server-->
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find unicorn_description)/urdf/unicorn_sim.urdf.xacro'" />

		<!-- push robot_description to factory and spawn robot in gazebo -->
		<node name="automower_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model automower -x 0.0 -y 0.0 -z 0.2 -Y 0.0"/> <!-- 5.5 -2.6 0.2 -1.5707 -->
		<!--<node name="am_unicorn_interface" pkg="unicorn" type="am_unicorn_interface" output="screen"/>-->
	</group>

</launch>
