<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="sim" 				default="false" />

    <!--GLOBAL PLANNERS -->
    <!--<arg name="global_planner" default="thetastar_planner/ThetaStarPlanner" /-->
    <arg name="global_planner" default="global_planner/GlobalPlanner" />
    
    <!--LOCAL PLANNERS -->
    <!--<arg name="local_planner"  default="local_planner/LocalPlanner" />-->
    <arg name="local_planner"  default="teb_local_planner/TebLocalPlannerROS" />
<group unless="$(arg sim)">
    <!-- Launch Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find unicorn_navigation)/config/base_global_planner.yaml" command="load" />
        <!--rosparam file="$(find unicorn_navigation)/config/sim/base_local_planner_params.yaml" command="load" /-->
        <rosparam file="$(find unicorn_navigation)/config/base_local_planner_teb.yaml" command="load" />
        <param name="base_global_planner" value="$(arg global_planner)"/>
        <param name="base_local_planner"  value="$(arg local_planner)" />
        <!---->
        <rosparam file="$(find unicorn_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find unicorn_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find unicorn_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find unicorn_navigation)/config/global_costmap_params.yaml" command="load" />
        <remap from="cmd_vel" to="/unicorn/cmd_vel"/>
    </node>
 </group>


<group if="$(arg sim)">
    <!-- Launch Move Base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
        <rosparam file="$(find unicorn_navigation)/config/base_global_planner.yaml" command="load" />
        <!--rosparam file="$(find unicorn_navigation)/config/sim/base_local_planner_params.yaml" command="load" /-->
        <rosparam file="$(find unicorn_navigation)/config/base_local_planner_teb.yaml" command="load" />
        <param name="base_global_planner" value="$(arg global_planner)"/>
        <param name="base_local_planner"  value="$(arg local_planner)" />
        <!---->
        <rosparam file="$(find unicorn_navigation)/config/sim/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find unicorn_navigation)/config/sim/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find unicorn_navigation)/config/sim/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find unicorn_navigation)/config/sim/global_costmap_params.yaml" command="load" />
        <remap from="cmd_vel" to="/unicorn/cmd_vel"/>
    </node>
</group>

</launch>
