<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="sim"      default="false" />
  <arg name="use_ekf"  default="true" />
  <arg name="use_amcl" default="true" />
  <arg name="scan_topic" default="/scan" />


  <group if="$(arg use_ekf)">
    <node pkg="robot_localization" type="ekf_localization_node" name="odom_localization_node" clear_params="true">
      <rosparam if="$(arg sim)" command="load" file="$(find unicorn_localization)/config/unicorn_sim_EKF.yaml" />
      <rosparam unless="$(arg sim)" command="load" file="$(find unicorn_localization)/config/unicorn_EKF.yaml" />
    </node>
  </group>

  <group if="$(arg use_amcl)">
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
      <rosparam if="$(arg sim)" command="load" file="$(find unicorn_localization)/config/amcl_sim.yaml"/>
      <rosparam unless="$(arg sim)" command="load" file="$(find unicorn_localization)/config/amcl.yaml"/>

      <remap from="scan" to="$(arg scan_topic)"/>
    </node>
  </group>

</launch>
