<?xml version="1.0" encoding="utf-8"?>
<launch>       
    <!--arg name="scan_topic" default="scan" /-->
    <!-- Launch tracking -->
    <node pkg="unicorn_tracking" type="unicorn_tracking_node" name="unicorn_tracking">

        <rosparam file="$(find unicorn_tracking)/config/tracking_sim.yaml"/>
     
        <remap from="odom" to="/odometry/filtered" />
        <remap from="scan" to="/frontLidar/scan" />
        <remap from="obstacles" to="/move_base/TebLocalPlannerROS/obstacles" />
        <!--remap from="scan" to="$(arg scan_topic)" /-->
    </node>
</launch>