<launch>
  <arg name="camera_name" default="realsense/color" />
  <arg name="image_topic" default="image_raw" />
  <arg name="camera_frame" value="realsense_camera" />

  <node pkg="unicorn_docking" type="unicorn_docking_node" name="unicorn_docking_node" output="screen">
    <remap from="/cmd_vel" to="/unicorn/cmd_vel" />

    <rosparam command="load" file="$(find unicorn_docking)/config/pid_gains.yaml" ns="pid" />
    <rosparam command="load" file="$(find unicorn_docking)/config/docking.yaml" />
  </node>

  <include file="$(find unicorn_docking)/launch/apriltag.launch">
    <arg name="camera_name" value="$(arg camera_name)" />
    <arg name="image_topic" value="$(arg image_topic)" />
    <arg name="camera_frame" value="$(arg camera_frame)" />

  </include>
</launch>
